body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #212121;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  position: relative;
  background-color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}
.logo__text {
  color: #2196f3;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    margin-left: 93px;
  }
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 1.1428571429;
}
.menu__link--current {
  color: #2196f3;
}
.menu__link--current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #2196f3;
  border-radius: 2px;
}
.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    margin-top: 21px;
    margin-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}
.contacts__item:not(:last-child) {
  margin-right: 40px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.1428571429;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__link {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__icon {
    margin-right: 8px;
  }
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 999;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.menu-container .menu-button--close {
  position: absolute;
  top: 10px;
  right: 15px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button--close:hover, .menu-button--close:focus {
  fill: #2196f3;
}

.mobile-menu__item:not(:last-child) {
  padding-bottom: 32px;
}

.mobile-menu__link {
  display: block;
  color: #212121;
  font-size: 40px;
  line-height: 1.175;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}

.mobile-contacts {
  margin-top: 306px;
}
@media screen and (min-width: 768px) {
  .mobile-contacts {
    display: none;
  }
}

.mobile-contacts__link {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 24px;
  line-height: 1.1666666667;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contacts__link:hover, .mobile-contacts__link:focus {
  color: #2196f3;
}

.mobile-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .mobile-social-links {
    display: none;
  }
}
.mobile-social-links__item {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  color: #2196f3;
}
.mobile-social-links__item:first-child {
  padding-left: 0;
}
.mobile-social-links__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2f303a;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .background-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/bg-hero-mob.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/bg-hero-mob.jpg);
    height: 400px;
  }
}
@media screen and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .background-hero {
    background-image: url(/images/bg-hero-mob@2x.jpg);
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .background-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/bg-hero-tab.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/bg-hero-tab.jpg);
    height: 400px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .background-hero {
    background-image: url(/images/bg-hero-tab@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .background-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/bg-hero-web.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/bg-hero-web.jpg);
    height: 600px;
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .background-hero {
    background-image: url(/images/bg-hero-web@2x.jpg);
  }
}
.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.hero__button {
  display: inline-block;
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  min-width: 216px;
  padding: 10px 24px;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  color: #2196f3;
  background-color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 450px;
  height: 609px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (min-width: 1199px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.modal__close-button {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover {
  fill: #2196f3;
  cursor: pointer;
}

.form {
  padding-top: 40px;
}
@media screen and (max-width: 767px) {
  .form {
    margin-top: 95px;
  }
}
.form__header {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
.form__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}
.form__policy {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.1666666667;
  color: #757575;
}
.form__link {
  color: #2196f3;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover {
  border-color: #2196f3;
}
.form__field:focus-within .form__input {
  border-color: #2196f3;
}
.form__input--comment {
  padding: 12px 16px;
  height: 120px;
}
.form__input--comment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input--comment::-moz-placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input--comment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input--comment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input--comment::placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 12px;
  fill: #212121;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field:focus-within .form__icon {
  fill: #2196f3;
}
.form__input:hover + .form__icon {
  fill: #2196f3;
}

textarea {
  resize: none;
}

.form__checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
}
.form__checkbox--hidden {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.form__checkbox--hidden:checked + .form__checkbox {
  background-image: url(../images/icons/check-icon.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.form__button {
  display: inline-block;
  padding: 10px 52px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__button:hover, .form__button:focus {
  background-color: #188ce8;
}

.submit-center {
  text-align: center;
}

.advantages__header--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
  .advantages__item:nth-child(odd) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
}
.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantages__title {
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .advantages__title {
    text-align: left;
  }
}
.advantages__text {
  font-size: 14px;
  line-height: 1.7142857143;
  color: #757575;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text {
    width: 270px;
    height: 72px;
  }
}

.activity {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}
.activity__header {
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  margin-bottom: 50px;
}
.activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.activity__item {
  position: relative;
}
.activity__item:not(:last-child) {
  margin-right: 30px;
}
.activity__text {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}
.team__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
}
.team__name {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}
.team__position {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__member {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 1199px) {
  .team__member {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__member:nth-child(odd) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__member:not(:last-child) {
    margin-right: 30px;
  }
}

.social-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 122px;
  margin-right: 122px;
  margin-bottom: 24px;
  margin-top: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social-links {
    margin-left: 74px;
    margin-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .social-links {
    margin-left: 32px;
    margin-right: 32px;
  }
}
.social-links__item:not(:last-child) {
  margin-right: 10px;
}
.social-links__icon {
  fill: currentColor;
}

.social-links__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__link:hover, .social-links__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}
.clients__title {
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
}
.clients__item:nth-child(odd) {
  margin-right: 30px;
}
@media screen and (max-width: 767px) {
  .clients__item:nth-child(-n+4) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    margin-right: 30px;
  }
  .clients__item:nth-child(3n+3) {
    margin-right: 0;
  }
  .clients__item:nth-child(-n+3) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}
.clients__logo {
  fill: currentColor;
}

.clients__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .clients__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.footer {
  background-color: #2f303a;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 28px;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #ffffff;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address {
    line-height: 1.1428571429;
  }
}

.address-style {
  text-align: center;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tablet-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 76px;
    margin-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .tablet-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.social-networks__header {
  font-size: 14px;
  line-height: 1.1428571429;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .social-networks__header {
    margin-left: 70px;
  }
}

.social-networks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1199px) {
  .social-networks__list {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .social-networks__list {
    margin-left: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social-networks {
    margin-left: 165px;
  }
}
.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks__link:hover, .social-networks__link:focus {
  background-color: #2196f3;
}

.social-networks__logo {
  fill: currentColor;
}

.mailing {
  text-align: center;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .mailing {
    margin-top: 0;
    margin-left: 93px;
    text-align: left;
  }
}
.mailing__header {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #ffffff;
}
.mailing__input {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mailing__input {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .mailing__input {
    width: 358px;
  }
}
.mailing__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.mailing__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .mailing__button {
    margin-left: 12px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.mailing__icon {
  margin-left: 10px;
  margin-right: 28px;
}

.portfolio__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .portfolio__filter {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__filter {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__filter {
    margin-bottom: 50px;
  }
}

.portfolio__button {
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #212121;
  background-color: #f5f4fa;
  padding: 6px 22px;
  display: inline-block;
  border: none;
  font-size: 16px;
  line-height: 1.625;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button--wide {
  padding-left: 25px;
  padding-right: 25px;
}
.portfolio__button:hover, .portfolio__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio__item:last-child {
    margin-top: 15px;
  }
}
.portfolio__header--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__example {
  margin-bottom: 30px;
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .portfolio__example {
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio__example:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__example:nth-child(odd) {
    margin-right: 30px;
  }
  .portfolio__example:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__example {
    margin-right: 30px;
  }
  .portfolio__example:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio__example:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.portfolio__link {
  display: inline-block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 322px;
  font-size: 18px;
  line-height: 1.5555555556;
  color: #ffffff;
}
.portfolio__link:hover .overlay, .portfolio__link:focus .overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.content-border {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-bottom: 4px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__title {
    width: 306px;
  }
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}/*# sourceMappingURL=main.css.map */